<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        table(style="border:1px solid black; width:50%")
            tr
                th email 
                th first Name 
                th last Name 
            each val in details
                tr
                    td 
                        email= val.email
                    td 
                        fname= val.firstName
                    td 
                        lname= val.lastName
        
