<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        each val in details
            h3 email: 
                email= val.email
            h3 first Name: 
                fname= val.firstName
            h3 last Name: 
                lname= val.lastName
        
